services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    command: ["npm", "run", "start", "--", "--host", "0.0.0.0", "--port", "4200"]
    environment:
      API_BASE_URL: "http://backend:8002"
    restart: unless-stopped
