.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.active-link {
    color: #000000 !important;
}

.nav-link {
  transition: none; /* Désactiver la transition */
}

.icon-vde {
  color: #8e8e8e;
}

.active-vde {
  color: #000000 !important;
  font-weight: 500 !important;
}

.active-vde .icon-vde {
  color: #000000 !important;
  -webkit-text-stroke: 0.5px #000;
}

/* Désactiver toute transition globale sur .nav-link */
.nav-link {
  color: #faf5f5;
  transition: none;
  font-size: 0.75rem;
}

/* Lors de la sélection d'un élément (actif) */
.nav-link.active {
  background-color: #eff7fe;
  color: white;
  border-left: 4px solid #007bff;
  padding-left: 10px;
  font-weight: bold;
}

/* Lors du survol (hover) */
.nav-link:hover {
  background-color: #627a93;
  color: white;
  transition: none;
}

/* Lors de l'élément non actif survolé */
.nav-link:not(.active):hover {
  background-color: #e7f1ff;
  color: #eff7ff;
  transition: none;
}

/* Lors de l'élément ayant le focus ou étant actif (sans contour) */
.nav-link:focus, .nav-link:active {
  background: transparent;
  outline: none;
  color: white;
  background-color: #fefefe;
}