.select-light-arrow {
  /* Chevron blanc */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3E%3Cpath d='M1.5 5.5l6 6 6-6'/%3E%3C/svg%3E");
}

/* Bordure du haut du tableau */
.table tbody tr:first-child td {
  border-top: 1px solid #000;
}

/* Bordure du bas du tableau */
.table tbody tr:last-child td {
  border-bottom: 1px solid #000;
}

