.bg-screen {
    background-color: #54545440;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.connexion {
    background-color: #F5F5F5;
    border-radius: 30px;
    max-width: 650px;
    width: 100%;
    padding: 20px;
}

/* Formulaire */
.form-control {
    height: 55px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border: none;
}

.form-group {
    margin-bottom: 15px;
}

.form {
    margin: 20px 0 5px 20px;
}

.form label {
    display: block;
}

.form input {
    width: 570px;
    height: 59px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 20px;
}

/* Bouton */
.login {
    height: 60px;
    border-radius: 15px;
    background: linear-gradient(90deg, #C94B91, #57C4EB);
    color: white;
    border: none;
}

/* Texte gradient */
.gradient {
    background: linear-gradient(90deg, #C94B91, #57C4EB);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

/* Mobile optimisations */
@media (max-width: 576px) {
    .connexion {
        padding: 15px;
    }

    .login {
        height: 50px;
    }

    .warning {
        font-size: 13px;
    }

    .connexion h4 {
        font-size: 26px;
    }

    .paragraphe {
        font-size: 16px;
    }
}

