<div class="bg-screen">
  <div class="connexion">
      <h4>Creer votre compte</h4>
      <p class="paragraph">En tant que consultant</p>
      <form [formGroup]="consultantForm" (ngSubmit)="inscription()">
        <div class="form">
          <div class="form-group">
            <label for="code">Code</label>
            <input type="text" id="code" name="code" formControlName="code">
          </div> 
          @if (codeNotUnique) {
            <div class="error">
              Le code est deja utilise
            </div>
          }
          @if (hasError('code', 'required')) {
            <div class="error">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 9 20 20"  width="18px">
                <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"/>
              </svg>
              <p>  Entre le code que le Village de l'Emploi t'a attribué</p>
            </div>
          }
          <div class="form-group">
            <label for="arrivedAt">Date d'arrivée</label>
            <input type="date" id="arrivedAt" name="arrivedAt" formControlName="arrivedAt">
          </div>
          @if (hasError('arrivedAt', 'required')) {
            <div class="error">
              La date d'arrivée est obligatoire
            </div>
          }
          @if (hasError('arrivedAt', 'pattern')) {
            <div class="error">
              Votre date n'est pas conforme au format
            </div>
          }
        </div>
        <div class="complement"> 
            <label class="inline-checkbox">
            <input type="checkbox" id="gotMission" formControlName="gotMission"/>Je suis déja parti en mission</label>
            <div class="log">
              <button class="subscribe" type="submit" [disabled]="!consultantForm.valid">Je m'inscris</button>
              <p>Deja un compte? <a (click)="login()" class="gradient">Je me connecte</a></p>
            </div>
        </div>
      </form>
      <button class="back" (click)="retour()"> < Retour</button>      
  </div>
</div>
