.bg-screen {
    background-color: #54545440;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* Carte principale */
.subscription {
    background-color: #F5F5F5;
    border-radius: 30px;
    max-width: 650px;
    width: 100%;
    padding: 20px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Titres */
.subscription h4 {
    font-weight: bold;
    font-size: 32px;
}

.paragraph {
    margin-bottom: 15px;
    font-size: 18px;
    color: #545454;
}

/* Inputs */
.form-control {
    height: 55px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.15);
    padding-left: 15px;
}

.form {
    margin: 20px 0 5px 20px;
}

.form label {
    display: block;
}

.form input {
    width: 570px;
    height: 59px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 20px;
}

.form-group {
    margin-bottom: 15px;
}


/* Warning */
.warning {
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: #6c757d;
}

/* Bouton inscription */
.subscribe {
    height: 60px;
    border-radius: 15px;
    background: linear-gradient(90deg, #C94B91, #57C4EB);
    color: white;
    margin-bottom: 20px;
    margin-top: 15px;
}

.subscribe:disabled {
    background: #888888;
    color: white;
}

/* Lien gradient */
.gradient{
    color: #57C4EB;
    background-clip: text;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.gradient:hover,
.gradient:visited {
    text-decoration: none;
}

/* Bouton retour */
.back {
    border: none;
    background: none;
    font-size: 16px;
}

/* Mobile */
@media (max-width: 576px) {
    .subscription {
        padding: 15px;
    }

    .inscription {
        height: 50px;
    }

    .warning {
        font-size: 13px;
    }

    .subscription h4 {
        font-size: 26px;
    }

    .paragraph {
        font-size: 16px;
    }
}
