<div class="fond-ecran" >
  <div class="connexion">
    <h4>Creez votre compte </h4>
    <p class="paragraphe">type d'inscription</p>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="disabled p-3" (click)="toConsultant()" [ngClass]="{'consultant p3': isConsultant === true}">
            <h6>Consultant</h6>
            <p>J'ai terminé ma formation et j'attends de partir en mission</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="disabled p-3" (click)="toExpert()" [ngClass]="{'expert p3': isConsultant === false}">
            <h6>Expert en recrutement</h6>
            <p>Je mets en relation les consultants avec les clients</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form">
      <form [formGroup]="userForm" (ngSubmit)="suivant()">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" id="nom"  name="nom" formControlName="nom">
        </div>
        @if (hasError('nom', 'required')) {
          <div class="error">
            Nom et prénom obligatoires
          </div>
        }
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" id="prenom" name="prenom" formControlName="prenom">
        </div>
        @if (hasError('prenom', 'required')) {
          <div class="error">
            Nom et prénom obligatoires
          </div>
        }
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" id="email"  name="email" formControlName="email">
        </div>
        @if (hasError('email', 'required')) {
          <div class="error">
            Email obligatoire
          </div>
        }
        @if (emailNotUnique) {
          <div class="error">
            Cet email est deja en attente de confirmation
          </div>
        }
        @if (hasError('email', 'email')) {
          <div class="error">
            L'email n'est pas valide
          </div>
        }
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" name="password" formControlName="password" placeholder="Mot de passe" >
        </div>
        @if (hasError('password', 'required')) {
          <div class="error">
            Mot de passe obligatoire
          </div>
        }
        @if (hasError('password', 'pattern')) {
          <div class="error">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 9 20 20"  width="18px">
              <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"/>
            </svg>
            Doit contenir au moins une lettre majuscule, un chiffre et 8 caractères
          </div>
        }
        <div class="form-group">
          <label for="confirmPassword">Confirmation</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmer mot de passe" formControlName="confirmPassword">
        </div>
        @if (hasError('confirmPassword', 'required')) {
          <div class="error">
            Confirmation du mot de passe obligatoire
          </div>
        }
        @if(userForm.hasError('passwordMismatch')) {
          <div class="error">
            Les mots de passe ne correspondent pas
          </div>
        }
        <div class="form-group">
          <label for="phone">Téléphone</label>
          <input type="text" id="phone" name="phone" formControlName="phone">
        </div>
        <div class="log">
          <button class="login" (click)="suivant()" [disabled]="userForm.invalid">Suivant</button>
          <p>déja un compte? <a (click)="login()"  class="gradient">Je me connecte</a></p>
        </div>
      </form>
    </div>
  </div>
</div>