<div class="container-fluid my-3 px-3">
  <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
    <div class="d-flex align-items-center">
      <div class="bg-light rounded-3 text-center p-2 me-3" style="min-width: 45px">
        <div class="text-uppercase text-muted" style="font-size: 0.6rem; font-weight: 700">
          {{ translateDateToFr(today, "MMM") }}
        </div>
        <div class="fw-bold fs-5 text-dark" style="line-height: 1">
          {{ translateDateToFr(today, "dd") }}
        </div>
      </div>
      <div class="d-flex flex-column">
        <span class="fw-bold text-dark small">{{
          translateDateToFr(today, "d MMMM yyyy")
          }}</span>
        <span class="text-muted d-none d-sm-inline" style="font-size: 0.7rem">{{
          weekRangeLabel
          }}</span>
      </div>
    </div>

    <div
      class="week-selector d-flex align-items-center bg-black text-white rounded-pill px-3 py-1 py-md-2 mx-auto mx-md-0">
      <button (click)="changeWeek(-1)" class="btn btn-link text-white p-0 me-3 shadow-none">
        <i class="bi bi-chevron-left"></i>
      </button>
      <span class="fw-medium text-nowrap" style="font-size: 0.85rem; min-width: 100px; text-align: center">
        {{ weekRangeLabel }}
      </span>
      <button (click)="changeWeek(1)" class="btn btn-link text-white p-0 ms-3 shadow-none">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>

    <div class="position-relative">
      <select  class="form-select custom-filter-select rounded-pill shadow-sm border pr-3"
              (change)="onSpecialtyChange($event)">
            <option value="">Toutes les spécialités</option>
        @for (speciality of specialties(); track $index) {
          <option value="{{ speciality.code }}">{{ speciality.name }}</option>
        }
      </select>
    </div>

    <div class="position-relative">
      <select class="form-select custom-filter-select rounded-pill shadow-sm border pr-3"
              (change)="onEventStatusChange($event)">
          <option value="">Tous les statuts</option>
        @for (status of statusList; track $index) {
          <option value="{{ status[0] }}">{{ status[1] }}</option>
        }
      </select>
    </div>
  </div>
</div>
<daypilot-scheduler [config]="config()" #scheduler></daypilot-scheduler>
@if(totalPages() > 0) {



<div class="w-full d-flex justify-content-center py-4 border-top">
  <div
    class="d-flex align-items-center bg-white shadow-sm border rounded-pill px-2 py-1"
    style="gap: 10px"
  >
    <button
      (click)="goToPage(currentPage() - 1)"
      [disabled]="currentPage() === 0"
      class="btn btn-link text-dark p-0 d-flex align-items-center justify-content-center rounded-circle hover-bg-light"
      style="width: 35px; height: 35px; text-decoration: none; border: none"
    >
      <i class="bi bi-chevron-left"></i>
    </button>

    <div
      class="d-flex align-items-center px-3 border-start border-end"
      style="height: 25px"
    >
      <span class="fw-bold text-primary me-1">{{ currentPage() + 1 }}</span>
      <span class="text-muted small">/ {{ totalPages() }}</span>
    </div>

    <button
      (click)="goToPage(currentPage() + 1)"
      [disabled]="currentPage() >= totalPages() - 1"
      class="btn btn-link text-dark p-0 d-flex align-items-center justify-content-center rounded-circle hover-bg-light"
      style="width: 35px; height: 35px; text-decoration: none; border: none"
    >
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>
}
@else {
  <div class="d-flex justify-content-center align-items-center flex-column gap-3 py-5">
    Aucun resultat trouvé
  </div>
}
