.bg-screen{
    background-color: #54545440;
    background-size: cover;
    min-height: 100vh;   
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.wait-confirmation{
    width: 625px;
    height: 400px;
    border-radius: 30px ;
    background-color: #F5F5F5;
    position: relative;
}

.wait-confirmation h4{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 36px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    padding: 0 20px;
}
.paragraph {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    color: #545454;
}
.complement{
    margin: 20px 20px 20px 20px;
}

.login{
    width: 570px;
    height: 60px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(90deg, #C94B91, #57C4EB);
    color: white;
    margin-bottom: 20px;
}


.back{
    border: none;
    position: absolute;
    top: 20px; 
    right: 20px;
    width: 81px;
    height: 49px;
    background: none;
    
}