<div class="stats">
  <div
    class="card stat-card"
    *ngFor="let stat of stats()"
    (click)="openStat(stat.key)"
    [ngClass]="{
      'stat-consultants': stat.key === 'consultants',
    'stat-present': stat.key === 'present',
    'stat-absent': stat.key === 'absent',
    'stat-late': stat.key === 'late',
    'stat-annonces': stat.key === 'annonces'
    }"
  >
    <h3>{{ stat.title }}</h3>
    <p class="value">{{ stat.value }}</p>
  </div>
</div>

 <!--  donut taux de présence -->
<div class="bottom-grid">
  <!-- Donut -->
  <div class="card section-card">
    <h2>Taux de présence</h2>

    <div class="donut-wrapper">
      <canvas #donutCanvas></canvas>
      <div class="donut-center">
        {{ attendanceRate() }}%
      </div>
    </div>

    <div class="donut-legend">
      <div class="legend-item">
        <span class="legend-color present"></span>
        <span>Présents</span>
      </div>
      <div class="legend-item">
        <span class="legend-color absent"></span>
        <span>Absents</span>
      </div>
      <div class="legend-item">
        <span class="legend-color late"></span>
        <span>Retards</span>
      </div>
      <div class="legend-item">
        <span class="legend-color no-event"></span>
        <span>Sans pointage</span>
      </div>
    </div>
  </div>

  <!-- Courbe -->
  <div class="card section-card">
    <h2>Évolution des présences</h2>
    <div class="line-chart-wrapper">
      <canvas #lineCanvas></canvas>
    </div>
  </div>
</div>

<div class="grid">
  <!-- ACCÈS RAPIDES -->
  <div class="card section-card">
    <h2>Accès rapides</h2>

    <div class="quick-links">
      <a class="quick-link" routerLink="/sidenav/consultant">
        <span class="quick-title">Consultants</span>
        <span class="quick-subtitle">Voir la liste complète</span>
      </a>

      <a class="quick-link" routerLink="/sidenav/presences">
        <span class="quick-title">Présences</span>
        <span class="quick-subtitle">Consulter les présences</span>
      </a>

      <a class="quick-link" routerLink="/sidenav/planning">
        <span class="quick-title">Planning</span>
        <span class="quick-subtitle">Voir l’emploi du temps</span>
      </a>

      <a class="quick-link" routerLink="/sidenav/annonces">
        <span class="quick-title">Annonces</span>
        <span class="quick-subtitle">Voir toutes les actualités</span>
      </a>
    </div>
  </div>

  <!-- ANNONCES -->
  <div class="card section-card">
    <h2>Dernières annonces</h2>

    <div *ngFor="let a of annonces().slice(0, 3)" class="item item-column">
      <div class="annonce-title">{{ a.Titre }}</div>
    </div>

    <button class="btn" routerLink="/sidenav/annonces">Voir tout</button>
  </div>
</div>

